<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/product/create}">Create new product</a>
<h1>List Product</h1>
<form action="/product" method="get">
    <input type="text" name="q" placeholder="search">
    <button>Search</button>
</form>
<form action="/product/search" method="get">
    <input type="text" name="q" placeholder="search voi getMapping /search">
    <button>Search</button>
</form>
<table>
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Image</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tr th:each="product, productStat : ${products}">
        <td th:text="${productStat.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td><img width="150" height="150" th:src="@{'/img/' + ${product.image}}"></td>
        <td><a th:href="@{/product/edit/__${product.id}__}">Edit</a></td>
        <td><a th:href="@{/product/delete/__${product.id}__}">Delete</a></td>
    </tr>
</table>
</body>
</html>